<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/Assets/Styles/Style.css">
      <title>Portafolio</title>
</head>
<body>
      <header>
                  <ul>
                        <li>Fantasy Go</li>
                        <li>
                              <a href="./mascotas.html">Mascotas</a>
                        </li>
                        <li>Home</li>
                        <li>Contacts</li>
                        <li>Ayuda</li>
                  </ul>
      </header>
      <section>
            <h1>Bienvenidos a Fantasy Go</h1>
            <p>Ser el que construya tu mundo de imaginacion...</p>
      </section>
      <div class="conatiner_master">
            <figure>
                  <img src="/Assets/Picture/2.png" alt="foto-1" class="photo">
                  <label>
                        - Logra tus propositos a tu manera no dejes que nadie te detenga, eres libre de escoger tus metas
                  </label>
                  <label> - Deja que tu imaginacion explote </label>
                  <label>- Navega en un mundo lleno de muchos retos</label>
                  <label>- Tu define tus limites</label>
                  <img src="/Assets/Picture/3.png" alt="foto-1" class="photo">
                  <label>- Observa el mundo desde tu punto de vista</label>
                  <label> - Difruta el momento </label>
                  <label>- No te detengas hay mucho camino por recorrer</label>
                  <label>- Solo tu y solo tu sabe que camino escoger </label>
            </figure>
      </div>
</body>

</html>