<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Assets/Styles/Style.css">
    <title>Mascotas</title>
</head>
<body>
    <Section class="container-master">
        <h1>fotos de mascotas</h1>
        <a href="/Assets/Views/Index.html">Fantasy Go</a>
        <figure class="container-photo">
            <img src="/Assets/Picture/pet-1avif" alt="" class="pets">
            <img src="/Assets/Picture/pet-2.webp" alt="" class="pets">
            <img src="/Assets/Picture/pet-3.avif" alt="" class="pets">
            <img src="/Assets/Picture/pet-4.jpeg" alt="" class="pets">
        </figure>
    </Section>
</body>
</html>