<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Assets/Styles/mascotas.css">
    <title>Mascotas</title>
</head>
<body>
    <Section class="container-master">
        <h1>fotos de mascotas</h1>
        <a href="/Assets/Views/Index.html">Fantasy Go</a>
        <figure class="container-photo">
            <img src="/Assets/Picture/pet-1avif" alt="" class="pets">
            <img src="/Assets/Picture/pet-2.webp" alt="" class="pets">
            <img src="/Assets/Picture/pet-3.avif" alt="" class="pets">
            <img src="/Assets/Picture/pet-4.jpeg" alt="" class="pets">
        </figure>
    </Section>
    <article>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi quaerat quisquam ipsum veniam tenetur libero id, perferendis velit possimus culpa!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi cum harum tenetur id vel, fuga vero esse obcaecati modi error.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum quam voluptatem debitis modi unde qui mollitia quis optio iure suscipit.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium eum magni reiciendis, id distinctio maiores nesciunt esse eaque modi est.</p>
    </article>
</body>
</html>