/* Estilos base del header */
header {
      padding: 10px 25px;
      background-color: transparent;
      /* Oscuro para que resalte el astronauta */
      box-shadow: 0 5px 15px wheat;
      border-radius: 50px;
}

ul {
      display: flex;
      justify-content: space-between;
      gap: 20px;
}

li a{
      list-style: none;
      text-decoration: none;
      font-size: 20px;
      font-weight: bolder;
      transition: 0.5s;
      color: white;
      letter-spacing: 5px;
      display: flex;
      flex-direction: column;
      height: 30px;
}

li:hover {
      transform: scale(1.1);
      cursor: pointer;
      text-shadow: 1px 1px 10px white;
}

.logo{
      font-size: 30px;
      font-weight: bolder;
      text-shadow: 1px 1px 10px white;
}

/* Escondemos el botón en desktop */
