section {
      background-image: url(/Assets/Picture/1.png);
      height: 500px;
      background-repeat: no-repeat;
      background-position: left;
      animation: infinite fondo 15s;
      border-radius: 50px;
}

/*
      defino en la propiedad animacion: 'fondo '
      - le doy una transcion de 10s
      - utilizo infinite para que la animacion sea infinita y no se detenga 
      - utilizo key frame para controlar la intearcion de la animacion
*/

@keyframes fondo {
      50% {
            background-image: url(/Assets/Picture/1.png);
            background-position: center;
            
      }

      50% {
            background-image: url(/Assets/Picture/1.png);
            background-position: right;
      }
}

h1 {
      margin-top: 300px;
      text-align: right;
      color: darkgrey;
      font-size: 40px;
      text-shadow: 10px 10px 10px white;
}

p {
      margin-top: 10px;
      color: darkgray;
      text-align: right;
      font-size: 40px;
      text-shadow: 10px 10px 10px white;
}

/* Estilos básicos */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: white;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

/* Escondemos el botón en desktop */
.burger {
  display: none;
  cursor: pointer;
  background: none;
  border: none;
  flex-direction: column;
  gap: 5px;
}

.line {
  width: 25px;
  height: 3px;
  background: white;
  transition: 0.3s;
}

/* Estilos para móviles (Pantallas de menos de 768px) */
@media (max-width: 768px) {
  .burger {
    display: flex; /* Mostramos el burger */
  }

  .nav-links {
    position: absolute;
    top: 70px;
    right: -100%; /* Fuera de la pantalla */
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.5s;
    padding: 2rem 0;
  }

  /* Clase que activaremos con JS */
  .nav-links.active {
    right: 0;
  }
}